
# ignora rebel.xml

waki/waki-ejb/src/main/resources/*.xml
waki/waki-ejb/src/main/setup/*.xml


waki/waki-ear/*.xml
waki/waki-web/src/main/resources/*.xml
waki/rebel.xml
rebel.xml
*.bak





# ignora target 

waki/waki-ear/target/* 
waki/waki-ejb/target/* 
waki/waki-web/target/* 

/waki-rest/target/
/waki-rest/nbproject/private/
/tets/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/